name: ansible-lint

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/ansible-lint.yaml
      - "envs/**/*.yaml"
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/ansible-lint.yaml
      - "envs/**/*.yaml"

jobs:
  lint:
    name: Ansible Lint
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6

      - name: Run ansible-lint
        uses: ansible/ansible-lint@v25
        with:
          args: ""
          requirements_file: "requirements.yaml"
